<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Create</title>
</head>
<body>
    <div class="container p-4">
        <div class="row mb-4 text-success">
            <h1>Add a New User</h1>
            <a href="/users">Home</a>
        </div>
        <form action="/create_user" method="POST" class="row" style="width: 250px">
            <label for="fname">First Name:</label>
            <input type="text" name="fname">
            <label for="lname">Last Name:</label>
            <input type="text" name="lname">
            <label for="email" >Email:</label>
            <input type="text" name="email">
            <input type="submit" value="Create" class="mt-4 btn-danger" style="width: 100px;">
        </form> 
    </div>

</body>
</html>