<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Read (All)</title>
</head>
<body>
    <div class="container p-4">
        <h1>All My Users</h1>
        <table class="table table-bordered table-striped border-primary w-50" >
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fullname</th>
                <th scope="col">Email</th>
                <th scope="col">Created At</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for one_user in all_users %}
                <tr>
                    <th scope="row">{{one_user.id}}</th>
                    <td>{{one_user.first_name}} {{one_user.last_name}}</td>
                    <td>{{one_user.email}}</td>
                    <td>{{one_user.created_at}}</td>
                    <td> <a href="/users/{{one_user.id}}">Show</a> | <a href="/users/{{one_user.id}}/edit">Edit</a> | <a href="/delete_user/{{one_user.id}}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="/users/new">Add a New User</a>

    </div>

</body>
</html>